#--------------------------------------------------
# Répertoire : /
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

# Article sans numéro de page :

# Sets your index script
RewriteRule ^$ index.php [L]

RewriteRule ^connector$   ./connector.php [L]
RewriteRule ^deconnexion$   ./logout.php [L]
RewriteRule ^redirection$   ./redirectall.php [L]
RewriteRule ^achats-sur-internet$   ./achats.php [L]
RewriteRule ^achats-et-rechargements-de-cartes-prepayes-visa-uba$   ./rechargements.php [L]
RewriteRule ^authentification-clients-ariane$   ./login.php [L]
RewriteRule ^creation-de-compte-client-ariane$ ./frmcompte.php [L]
RewriteRule ^finalisation-de-la-procedure$  ./finaliser.php [L]
RewriteRule ^foire-aux-questions-ariane$   ./faq.php [L]
RewriteRule ^paiements-par-internet$   ./paiements.php [L]
RewriteRule ^activer-son-compte-client-ariane$  ./activation.php [L]
RewriteRule ^domiciliation-de-commandes$  ./domiciliation.php [L]
RewriteRule ^contactez-ariane$   ./contacts.php [L]


# Condition prevents redirect loops (when script is not found)
# RewriteCond %{ENV:REDIRECT_STATUS} !^$
# RewriteCond %{REQUEST_FILENAME} !-f

# Stop here if the file is not found after a redirect
# RewriteRule ^(.*)$ notfound.php [L]

# Condition prevents redirect loops (when script is found)
# RewriteCond %{ENV:REDIRECT_STATUS} ^$

# Forbid access directly to PHP files
# RewriteRule ^.*?\.php$ forbidden [F,L]

# Make sure the filename does not actually exist (images, etc.)
# RewriteCond %{REQUEST_FILENAME} !-f

# Append the .php extension to the URI
# RewriteRule ^(.*)$ $1.php [L] 
